/.idea
/.vagrant
/node_modules
/public/hot
/public/storage
/storage/*.key
.editorconfig
.error_log
.env
.env.backup
.env.example
.env.staging
.env.production
.phpunit.result.cache
.php-cs-fixer.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vendor/*
package-lock.json
composer.lock
.DS_Store
/public/uploads/*
/public/assets/guest/app.css
/public/assets/guest/app.js
/public/assets/admin/app.css
/public/assets/admin/app.js
/public/mix-manifest.json
/.phpunit.cache
/public/build
#/vendor
auth.json
/.fleet
/.vscode